@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin: 3.125rem auto 2.5rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 5px;
}

.container {
  margin: 0 auto;
  width: min(100%, 500px);
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem 1rem 0 0;
  padding: 2.375rem 2rem;
}
.container .container__content-start .label-blill {
  font-size: 0.75rem;
  text-align: start;
  max-width: 175px;
  margin: 0 auto;
}
.container .container__content-start .border-error {
  border: 1px solid hsl(9, 48%, 60%) !important;
}
.container .container__content-start .input {
  width: 100%;
  height: 36px;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  padding-right: 1rem;
  background-repeat: no-repeat;
  background-position: 20px center;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
}
.container .container__content-start .input:hover {
  cursor: pointer;
  border: 1px solid hsl(172, 67%, 45%);
}
.container .container__content-start .input:focus {
  outline: none;
}
.container .container__content-start .bg-bill {
  background-image: url("../src/images/icon-dollar.svg");
}
.container .container__content-start .bg-people {
  background-image: url("../src/images/icon-person.svg");
}
.container .container__content-start .container-buttons {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 160px));
  grid-template-rows: repeat(4, 48px);
  gap: 1rem;
  place-content: center;
}
.container .container__content-start .container-buttons .label-button {
  grid-column: 1/3;
  padding-top: 20px;
}
.container .container__content-start .container-buttons .btn.active {
  background-color: hsl(172, 67%, 45%);
}
.container .container__content-start .container-buttons .btn {
  background-color: hsl(183, 100%, 15%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
  border-radius: 5px;
  font-weight: 700;
  height: 36px;
}
.container .container__content-start .container-buttons .btn:hover {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
}
.container .container__content-start .container-buttons .btn.selected {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.container .container__content-start .container-buttons .input-custom {
  grid-column: 2/3;
  grid-row: 4/5;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  text-align: center;
  border: 1px solid transparent;
  font-size: 1.1em;
  font-weight: 700;
  height: 36px;
}
.container .container__content-start .container-buttons .input-custom::placeholder {
  text-align: center;
  color: hsl(183, 100%, 15%);
}
.container .container__content-start .container-buttons .input-custom:hover {
  cursor: pointer;
  border: 1px solid hsl(172, 67%, 45%);
}
.container .container__content-start .container-buttons .input-custom:focus {
  outline-color: hsl(172, 67%, 45%);
}
.container .container__content-start .label-people {
  position: relative;
}
.container .container__content-start .label-people .error-label {
  color: hsl(9, 48%, 60%);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.container .container__content-start .label-people .label-people .num-people {
  width: 100%;
  height: 2.25rem;
  background-color: hsl(189, 41%, 97%);
}

.container__content-end {
  margin-block: 2rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  padding: 2.875rem 1.5rem 1.5rem 1.5rem;
}
.container__content-end .tip-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(172, 67%, 45%);
  margin-bottom: 2rem;
}
.container__content-end .tip-person__amount {
  font-size: 1em;
  color: hsl(0, 0%, 100%);
}
.container__content-end .tip-person__amount--small {
  font-size: 0.8125rem;
  color: hsl(186, 14%, 43%);
}
.container__content-end .tip-person__total {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
.container__content-end .tip-person__total--dollar {
  font-size: 1.3em;
}
.container__content-end .btn-reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
}
.container__content-end .btn-reset:hover {
  background-color: hsl(185, 41%, 84%);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    width: 705px;
    height: 366px;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
  }
  .container .container__content-start {
    width: 19.75rem;
    height: 318px;
  }
  .container .container__content-start .container-buttons {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 98.9px);
    grid-template-rows: repeat(2, 2.375rem);
    gap: 0.6875rem;
    place-content: center;
  }
  .container .container__content-start .container-buttons .label-button {
    grid-column: 1/4;
  }
  .container .container__content-start .container-buttons .input-custom {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .container .label-people {
    margin-top: 2rem;
  }
  .container .container__content-end {
    width: 19.75rem;
    height: 19.875rem;
  }
}