@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
//###Primary

$Strongcyan: hsl(172, 67%, 45%);

//###Neutral

$Very-darkcyan: hsl(183, 100%, 15%);
$Dark-grayishcyan: hsl(186, 14%, 43%);
$Gray-ishcyan: hsl(184, 14%, 56%);
$Light-grayishcyan: hsl(185, 41%, 84%);
$Very-lightgrayishcyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

//Font

$font: 'Space Mono', monospace;
